html {
    width: 100%;
    height: 100%;
    
    background: #11e8bb; /* Old browsers */
    background: -moz-linear-gradient(top,  #87f372 0%, #e94f28 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #87f372 0%,#e94f28 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #87f372 0%,#e94f28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
}

body { margin: 0; }

#left-container{
    position: absolute;
    width: 100%; 
    height: 100%;
}
#right-container{
    position: relative;
    width: 30%; 
    height: 100%;
    float: right;
}
#game{
    width: 100%;
    height: 100%;
}
#player{
    width: 100%;
    height: 50%;
}
#dice{
    width: 100%;
    height: 50%;
}
#back{
    position: absolute;
    top: 20px;
    left: 20px;
}